<!DOCTYPE html>
<html>
  <head>
    <title>Demor</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'hello_vue' %>


  </head>

  <body>
    <%= yield %>
    <div id='hello'>
  {{message}}
  <app></app>
</div>
  </body>
</html>
